*{
  margin: 0;
  padding: 0;
}
body { 
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.cal_area {
  background-color: #dad4d4;
  width: 320px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 20px;
  padding: 10px;
  color: #de3f3f;
  text-transform: capitalize;
}

table {
  width: 100%;
}
 
td, th {
  padding: 15px;
  border: 1px solid #4f4b4b;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  background-color: rgb(188, 188, 210);
}

td:hover {
  background-color: #de3f3f;
}

#display {
  background-color: #eee;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #d18e8e;
}

.footer{
  text-decoration: none;
  font-size: 14px; 
  color: #555;
}